@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Splash&display=swap');

.main-header .logo {
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
}

.main-sidebar{
  background-color: #020d06;
  background-image: linear-gradient(180deg, #020d06 10%, #ffffff 100%);
  background-size: cover;
}

.sidebar-menu .treeview-menu>li>a{
  font-size: 10px;
}

.sidebar-hr-gradient{
  border: 0;
  height: 1px;
  margin:0 auto;
  background-image: linear-gradient(to right, rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));
}


.top-container{
  padding:0;
  margin:0;
  margin-bottom:1rem;
  text-align:center;
  width:100%;
  height:4rem;
}

.trends-h2{
  font-size:2rem;
  padding: 0;
  
  margin:auto;
  color:#fff;
  font-family: "Press Start 2P", cursive;
}  
.btn{
  text-align:left;
}

.top-container2{
  margin:0;
  margin-bottom: 1rem;
}
.trends-slider{
  font-size:0.5rem;
  font-family: "Press Start 2P", cursive;
  margin: 0;
  margin-left:50%;
  transform: translate(-50%,-50%);
}

.trends-sidebar{
  text-align: left;
}

.body .skin-black .sidebar{
  font-family: "Press Start 2P", cursive;
}

.sidebar{
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
}


.content{
  padding-bottom:50%;
  margin:0;
  background-image:url("background.png");
  background-size: contain;
  opacity: 0.7;
}     
