@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Splash&display=swap');

.main-sidebar{
  background-color: #12001c;
  background-image: linear-gradient(180deg, #12001c 10%, #ffffff 100%);
  background-size: cover;
}

.sidebar-hr-gradient{
  border: 0;
  height: 1px;
  margin:0;
  background-image: linear-gradient(to right, rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));
}


.top-container{
  position:relative;
  padding:0;
  margin:0;
  margin-bottom:50px;
  width:100%;
  height:6rem;
}

.trends-h2{
  position:absolute;
  top:30%;
  left:30%;
  font-size:2rem;
  padding: 0;
  margin:auto;
  color:#fff;
  font-family: "Press Start 2P", cursive;
}  
.trends-slider{
  position:absolute;
  top:70%;
  left:30%;
  font-size:0.5rem;
  font-family: "Press Start 2P", cursive;
  margin:0 0 35px 0;
}
.body{
  font-family: "Press Start 2P", cursive;
}
.content{
  padding-bottom:50%;
  margin:0;
  background-image:url("background.png");
  background-size: contain;
  opacity: 0.7;
}     
